@media screen and (max-width:760px){
   
    header{
        display: flex;
        flex-direction: column;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .aside-texto{
        margin-top: 30px;
        font-family: Oswald;
        font-size: 30px;
        line-height: 10px;
        color:purple;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .imagem{
        display: none;
    }
}