@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body{
    background-color: rgb(34, 34,34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo-cabecalho{
    flex-direction: column;
    font-size: 30px;
    font-family:Oswald ;
    line-height: 0px;
    color: purple;
}
main{
    display: flex;

}
.aside-texto{
    margin-top: 30px;
    font-family: Oswald;
    font-size: 50px;
    line-height: 10px;
    color:purple;
}

.aside-texto2{
    font-size: 18px;
    margin-top: 30px;
    line-height: 20px;
    max-width: 500px;
    color: #f5f5dc;
}

a{
    
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
    color:#f5f5dc;
    text-decoration: none;
}
a:hover{
    color: purple;
    transition: 0.5s all;
}

.imagem{
    width: 400px;
    margin-top: 25%;

}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    border-radius: 20px;
    height: 30px;
    padding: 3px;
    border: none;
    margin-top: 20px;
}

.btn-enviar{
    height: 30px;
    border: none;
    background-color: purple;
}

.btn-enviar:hover{
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: purple;
}